/*0331*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

html{
    overflow-x: hidden;
}
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    overflow-x: hidden
}

section img {
    width: 600px;
}
section p{
    color:rgb(83, 83, 83);
}
/*=================================================================*/
header {
    display: flex;
    background-color: rgba(230, 252, 255, 0.548);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

header.over {
    background-color: rgba(255, 255, 255, 0.716);
}

header.down {
    top: -100px;
}

header.up {
    top: 0;
}

header ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
}

header ul li {
    margin: 20px;
}

header a {
    text-decoration: none;
    color: white;
}

header h1 {
    margin-right: 30px;
    font-weight: bold;
    font-size: 25px;
}

/*=================================================================*/
#section1 {
    height: 120vh;
    background-image: url('image1.jpg');
    background-size: 100%;
    background-position: top 0;

}

#section1 p {
    color: rgba(255, 255, 255, 0.814);
    padding: 150px;
    font-size: 50px;
    margin: 0;
    writing-mode: vertical-lr;
    font-weight: bold;
}

/*=================================================================*/
#section2 {
    height: 80vh;
    background-color: rgb(233, 216, 193);
}
#section2 img {
    position: relative;
    top: 0;
    right: 0;
    float: left;

}
.section2_img {
    position: relative;
    top: 20px;
    left: 100px;
    transition: all 1s ease-in-out;
    opacity: 0;
    transform: translateX(-30%);
}
.section2_img p {
    font-size: 20px;
    line-height: 35px;
    position: relative;
    top: 250px;
    left: 100px;
}

/*=================================================================*/
#section3 {
    height: 80vh;
    background-color: rgb(247, 246, 233);

}
.section3_txt {
    font-size: 20px;
    line-height: 35px;
    transition: all 1s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
    position: relative;
    top: 250px;
    left: 130px;
    float: left;
}
.section3_img{
    position: relative;
    top: 20px;
    left: 250px;
    transition: all 1s ease-in-out;
    opacity: 0;
    transform: translateX(30%);
}

/*=================================================================*/
#section4 {
    height: 80vh;
    background-color: rgb(228, 255, 238);

}
#section4 img {
    position: relative;
    top: 0;
    right: 0;
    float: left;

}
.section4_img {
    position: relative;
    top: 20px;
    left: 100px;
    transition: all 1s ease-in-out;
    opacity: 0;
    transform: translateX(-30%);
}
.section4_img p {
    font-size: 20px;
    line-height: 35px;
    position: relative;
    top: 250px;
    left: 100px;
}
/*=================================================================*/
#section5{
    height: 100vh;
    background-image: url('iamge6.jpg');
}
#section5 img{
    width: 600px;
}
/*=================================================================*/
footer {
    height: 70px;
    background-color: rgb(127, 127, 127);
    display: flex;
}
footer ul{
    list-style: none;
}
footer ul li{
    margin: 20px;
}


/*=================================================================*/
button {
    width: 30px;
    height: 20px;
    background-color: blueviolet;
    position: fixed;
    right: 30;
    bottom: 50;
}

#top_btn {
    width: 50px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-style: none;
    border-radius: 60px;
    cursor: pointer;
    background-color: rgba(230, 230, 230);
    opacity: 0.7;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
        0 2px 2px rgba(0, 0, 0, 0.15),
        0 4px 4px rgba(0, 0, 0, 0.15),
        0 8px 8px rgba(0, 0, 0, 0.15);
}